body,
body *,
body *::before,
body *::after {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: inherit;
}

@keyframes moveRightLeft {
  0%, 100% {
    left: 0;
  }
  50% {
    left: 200px;
  }
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

input,
textarea,
select,
button,
input {
  appearance: none;
  border-radius: 0;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

[readonly]+span,
[readonly] {
  pointer-events: none;
  opacity: .4;
}

body {
  font-family: "Alagard";
  background-image: url("/public/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

#lights {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#container {
  box-sizing: content-box;
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: rgba(0, 46, 52, 0.7);
  border: 10px solid rgba(0, 127, 139, 0.3);
  overflow: hidden;
}

#container > div.wall{
  box-shadow: inset 0 0 10px rgba(21, 21, 21, 0.6);
  background-color: rgba(0, 15, 9, 0.5);
}

body.win #container > div:not(.wall){
  border: none;
}

#container > div:not(.wall){
  border: solid 1px rgba(53, 45, 45, 0.3);
  background-color: rgba(53, 255, 157, 0.6);
}

#container > div{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1s, transform 2s;
}

body.win #container {
  background-color: transparent;
  border: none;
}

#container > div.computer{
  background-image: url("/public/images/computer.gif");
}
#container > div.fire{
  background-image: url("/public/images/fire.gif");
}
#container > div.potion{
  background-image: url("/public/images/potion.gif");
}
#container > div.dollar{
  background-image: url("/public/images/dollar.gif");
}
#container > div.keyboard{
  background-image: url("/public/images/keyboard.gif");
}
#container > div.cane{
  background-image: url("/public/images/cane.gif");
}

#messageBox {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: 36px;
  line-height: 70px;
  color: rgba(255, 255, 255);
  text-shadow: 2px 2px 2px rgb(60, 0, 1);
}

body.win #container > div:not(.prince):not(.princess){
  opacity: 0;
}
body.win #container > div.prince,
body.win #container > div.princess{
  background-color: transparent;
  transform-origin: center center;
}

body.win .class7 > div{
  position: relative;
  width: 40px;
  height: 40px;
}

body.win .class8 > div{
  position: relative;
  width: 40px;
  height: 40px;
}

body.win .class7 > div.princess{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translate(-1%, -1%);
}

body.win .class7 > div.prince{
  transform: scale(0) translateX(-150px) translateY(15px)
}

body.win > #container.class6 div.princess{
  background-image: url("./images/mario-princess-win.gif");
  transform: scale(8) translateX(-15px) translateY(-10px);
}


body.win > #container.class6 div.prince {
  background-image: url("./images/mario-win.gif");
  transform: scale(8) translateX(-35px) translateY(-5px) rotate(-720deg);
}

body.win .class8 > div.princess{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(10) translate(-1%, -2%);
}
body.win .class8 > div.prince{
  transform: scale(0) translateX(-150px) translateY(15px)
}

body.win .bgclassLevel6 {
  background-color:black;
  background-image: url("./images/pxfuel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body.win .bgclassLevel6::before {
  content: "";
  background-image: url("./images/chris-pratt-wow.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20%;
  height: 28%;
  z-index: 1;
}


body.win .bgclassLevel7::before {
  content: "";
  background-image: url("./images/uma.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 22%;
  height: 24%;
  z-index: 1;
}

body.win .bgclassLevel7 {
  background-color:rgb(40, 0, 18);
  background-image: url("./images/dancing.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

body.win .bgclassLevel8 {
  background-color:rgb(12, 1, 1);
  background-image: url("./images/level8bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


body.win .bgclassLevel8::before {
  content: "";
  background-image: url("./images/khaby-khabane.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15%;
  height: 30%;
  z-index: 1;
}
